@use 'config' as *;

/**Develop Styles*/

main {
  width: 100%;
  position: relative;
  background-color: #f2f1f3;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/*****1PArte****/
.services_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

  .first_part_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    h3 {
      font-size: 1.4rem;
      font-weight: 800;
      color: black;
      margin-bottom: 30px;
    }

    .videoWrapper {
      position: relative;
      width: 100%;
      height: 500px;
      margin-bottom: 20px;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .video_descript {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: black;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .second_part_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;

    h3 {
      font-size: 1.8rem;
      color: black;
      font-weight: 700;
      margin-bottom: 30px;
      font-family: $title-font;
    }
    .services_explained {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 45px;

      .service {
        width: 40%;
        display: flex;
        align-items: center;
        gap: 10px;
        i {
          font-size: 2rem;
          color: $brand-color;
        }

        .sv_ex {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h4 {
            font-size: 1.1rem;
            font-family: $title-font;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .contact_services_wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .img_contact {
      width: 50%;

      img {
        width: 400px;
        margin-left: 50px;
        border-radius: 10px;
      }
    }

    .form_contact {
      display: flex;
      flex-direction: column;
      width: 40%;
      & > * {
        color: black;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 15px;
        font-weight: 700;
      }

      p {
        font-size: 0.9rem;
        margin-bottom: 20px;
      }

      form {
        width: 60%;

        input {
          width: 100%;
          padding: 8px 0;
          border-radius: 5px;
        }

        input:nth-child(1) {
          margin-bottom: 15px;
        }

        input:focus {
          border: 1px solid $brand-color;
          outline: 1px solid $brand-color;
        }

        button {
          width: 100%;
          padding: 8px 0;
          background-color: $brand-color;
          border-radius: 5px;
          color: white;
          font-family: $body-font;
        }
      }
    }
  }
}

/*****2PArte****/
.showcase_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;
  .showcase_leads {
    width: 45ch;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      color: black;
      font-family: $title-font;
      font-size: $big-font-size;
      margin-bottom: 20px;
    }
    p {
      color: black;
    }
  }

  .swiper {
    width: 850px;
  }

  .cards_wrapper {
    margin-bottom: 50px;

    .card {
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img_wrapper {
        margin-bottom: 10px;

        img {
          border-radius: 5px;
        }
      }
      h2 {
        color: black;
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 10px;
      }
      p {
        color: black;
        font-size: 0.8rem;
        margin-bottom: 20px;
      }

      .card_button {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 10px;

        a {
          background-color: $action-color;
          padding: 10px 30px;
          font-size: 0.8rem;
          color: white;
          border-radius: 5px;
        }
        span {
          color: black;
        }
      }
    }
  }
}
//* Footer */
footer {
  padding: 50px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $brand-color;

  .first_info_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;

    .brand_lead_wp {
      margin: auto 0;
      h3 {
        display: block;
        margin-bottom: 5px;
      }
    }

    .links_wp {
      display: flex;
      gap: 80px;
      align-items: center;
      a {
        color: white;
        cursor: pointer;
        &:hover {
          color: #ffb703;
        }
      }
    }

    .button_wp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .btn_footer {
        border: 1.5px solid white;
        padding: 5px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        gap: 5px;

        & > * {
          color: white;
          font-size: 1rem;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: black;
    margin-bottom: 30px;
  }
}
