@use "config" as *;

/**Develop Styles*/

header {
  width: 100%;
  height: 100vh;
  background: url("../img/header_bkg.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $action-color;
    opacity: 0.5;
    z-index: -1;
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .nav_bar{
      font-size: 1rem;
      display: flex;
      align-items: center;
      padding-top: 35px;
    }

    .content_header_wrapper {
      display: flex;
      align-items: flex-end;
      height: 100%;

      .header_main_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 180px;

        h2 {
          color: $body-color;
          font-weight: 800;
          font-size: 2.2rem;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: .8rem;
          margin-bottom: 40px;
          width: 80%;
        }

        button {
          font-size: 0.8rem;
          padding: 7px 40px;
          background-color: $brand-color;
          color: white;
          border-radius: 2px;
          text-transform: lowercase;
          border: none;
        }

        .bottom_content {
          display: flex;
          gap: 13px;
          margin-bottom: 30px;
          font-size: 1rem;

          .services_header_explained {
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-size: 0.8rem;
            }

            i {
              font-size: 1.8rem;
            }
          }
        }
      }
      .side_wrapper {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.8rem;
        margin-bottom: 30px;

        .social_links_header {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        & > * {
          color: white;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: $big-font-size;

    & * {
      color: white;
    }

    .nav_links {
      display: flex;
      gap: 30px;
    }
  }
}
