/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== z index ==========*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
  color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #2b9db5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* For medium devices */
/* For large devices */
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  padding: 4.5rem 0 1rem;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../img/header_bkg.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b998b;
  opacity: 0.5;
  z-index: -1;
}
header .header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header .header_wrapper .nav_bar {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-top: 35px;
}
header .header_wrapper .content_header_wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
header .header_wrapper .content_header_wrapper .header_main_content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 180px;
}
header .header_wrapper .content_header_wrapper .header_main_content h2 {
  color: #ffffff;
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
header .header_wrapper .content_header_wrapper .header_main_content p {
  font-size: 0.8rem;
  margin-bottom: 40px;
  width: 80%;
}
header .header_wrapper .content_header_wrapper .header_main_content button {
  font-size: 0.8rem;
  padding: 7px 40px;
  background-color: #2b9db5;
  color: white;
  border-radius: 2px;
  text-transform: lowercase;
  border: none;
}
header .header_wrapper .content_header_wrapper .header_main_content .bottom_content {
  display: flex;
  gap: 13px;
  margin-bottom: 30px;
  font-size: 1rem;
}
header .header_wrapper .content_header_wrapper .header_main_content .bottom_content .services_header_explained {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header_wrapper .content_header_wrapper .header_main_content .bottom_content .services_header_explained span {
  font-size: 0.8rem;
}
header .header_wrapper .content_header_wrapper .header_main_content .bottom_content .services_header_explained i {
  font-size: 1.8rem;
}
header .header_wrapper .content_header_wrapper .side_wrapper {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.8rem;
  margin-bottom: 30px;
}
header .header_wrapper .content_header_wrapper .side_wrapper .social_links_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .header_wrapper .content_header_wrapper .side_wrapper > * {
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 1.5rem;
}
header nav * {
  color: white;
}
header nav .nav_links {
  display: flex;
  gap: 30px;
}

/******ALL FILES TO IMPORT*****/
/**Develop Styles*/
main {
  width: 100%;
  position: relative;
  background-color: #f2f1f3;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.services_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.services_content_wrapper .first_part_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.services_content_wrapper .first_part_services h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: black;
  margin-bottom: 30px;
}
.services_content_wrapper .first_part_services .video_descript {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
}
.services_content_wrapper .first_part_services .video_descript i {
  font-size: 1.5rem;
}
.services_content_wrapper .second_part_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 200px;
}
.services_content_wrapper .second_part_services h3 {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: "Spectral", serif;
}
.services_content_wrapper .second_part_services .services_explained {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
}
.services_content_wrapper .second_part_services .services_explained .service {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.services_content_wrapper .second_part_services .services_explained .service img {
  width: 50px;
}
.services_content_wrapper .second_part_services .services_explained .service .sv_ex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services_content_wrapper .second_part_services .services_explained .service .sv_ex h4 {
  font-size: 1.1rem;
  font-family: "Spectral", serif;
}
.services_content_wrapper .second_part_services .services_explained .service .sv_ex p {
  font-size: 0.8rem;
}
.services_content_wrapper .contact_services_wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.services_content_wrapper .contact_services_wrapper .img_contact {
  width: 50%;
}
.services_content_wrapper .contact_services_wrapper .img_contact img {
  width: 400px;
  margin-left: 50px;
}
.services_content_wrapper .contact_services_wrapper .form_contact {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.services_content_wrapper .contact_services_wrapper .form_contact > * {
  color: black;
}
.services_content_wrapper .contact_services_wrapper .form_contact h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.services_content_wrapper .contact_services_wrapper .form_contact p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.services_content_wrapper .contact_services_wrapper .form_contact form {
  width: 60%;
}
.services_content_wrapper .contact_services_wrapper .form_contact form input {
  width: 100%;
  padding: 8px 0;
  border-radius: 5px;
}
.services_content_wrapper .contact_services_wrapper .form_contact form input:nth-child(1) {
  margin-bottom: 15px;
}
.services_content_wrapper .contact_services_wrapper .form_contact form input:focus {
  border: 1px solid #2b9db5;
  outline: 1px solid #2b9db5;
}
.services_content_wrapper .contact_services_wrapper .form_contact form button {
  width: 100%;
  padding: 8px 0;
  background-color: #2b9db5;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=styles.css.map */